body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    font-size: 72pt;
    color: #555;
}

.link {
    text-align: center;
    font-size: 24pt;
}

.body {
    text-align: center;
    font-size: 20pt;
    color: #888;
}