.contact-main {
	border-color: #118514;
}

.buttons {
	background-color: #333;
}

.email,
.email > a {
	color: #D54B3D;
}

.github,
.github > a {
	color: #161312;
}

.linkedin,
.linkedin > a {
	color: #0077B5;
}

.twitter,
.twitter > a {
	color: #2AA9E0;
}