body {
	background-color: #347CF3;
}

.navbar-custom {
	border-color: #347CF3;
}

.navbar-brand:hover {
	background-color: #347CF3;
}

.about-main {
	border-color: #347CF3;
}

.skill-badge-text {
	text-align: center;
	font-size: 1.3em;
	padding: 0.5em 0 0.5em 0;
}

.text-footericon {
	color: #347CF3;
}

footer {
	background-color: #347CF3;
}