body {
	background-color: #9846f4;
}

.navbar-custom {
	border-color: #9846f4;
}

.navbar-brand:hover {
	background-color: #9846f4;
}

.work-main {
	border-color: #9846f4;
}

.text-footericon {
	color: #9846f4;
}

footer {
	background-color: #9846f4;
}