body {
	background-color: #DA9F11;
}

.navbar-custom {
	border-color: #DA9F11;
}

.navbar-brand:hover {
	background-color: #DA9F11;
}

.work-main {
	border-color: #DA9F11;
}

.border {
	border-color: #DA9F11;
}

.page-secondary {
	background-color: #333;
}

.text-footericon {
	color: #DA9F11;
}

footer {
	background-color: #DA9F11;
}